body{background:#0d0d0d!important;color:#999 !important;}
a{color:#ebf5ff !important;}
input{color:white !important;background:black !important;border:solid 1px black !important;}
.RNNXgb{border:solid 1px black !important;background:black !important;color:white !important;}
#fbar{background:#0d0d0d !important;border-top:solid 1px #0d0d0d !important;}
div{background:none !important;}